section{text-align: center;}
		#maintable{width: 100%; text-align: start; margin: auto 0%}
		#maintable h1 {font-size: 50px; text-align: center;}
		.mitable{width: 100%; padding: 10px}
		.mitable thead{background-color: gray; font-size: 30px}
		.mitable tbody td {font-size: 20px;}
		.mitable tbody td input{
			
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 